body{
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: center;
}
.searchbox input[type=search] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.suggetionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 22%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    /* box-shadow: 10px 10px lightblue; */
}
.suggetionList li {
    cursor: pointer;
    padding: 4px;
}
.suggetionList li:hover {
    background: red;
}